.layout {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.logo{
    width:300px;
    height:300px;
    justify-items: center;
}

.accordion {
    width:100%;
    text-align: center;
}

.accordionSummary {
    text-align: center;
}

.accordionTitle{
    text-align: center;
}

.accordionText {
    text-align: center;

}

.carousel {
    width:100%;
}